extends /_layout/default

block view
  div.c-body
    main.c-main
      div.container-fluid
        div#ui-view
          div
            div.fade-in
              div.card
                div.card-body
                  div.table-responsive(style="overflow-x:auto; width:100%")
                    table#dmetaDetailedTable.table.table-striped(style='white-space: nowrap; table-layout:fixed; width:100%' cellspacing="0")
                      thead
                        tr
                          th Name
                          th Status
                          th Collection
                          th Project
                          th Patient
                          th Aliquot
                          th Clinical phenotype
                          th Skin
                          th Patient Note
                          th Cell density (TC)
                          th Cell density indrop
                          th Collect date
                          th Library tube id
                          th Pool id
                          th Total Reads
                          th Multimapped Reads
                          th Unique Reads
                          th Total aligned UMIs
                          th Total deduped UMIs
                          th Duplication Rate
                          th Number of Cells
                          th Mean UMIs per Cell
                          th Number of Genes
                          th Mean Genes per Cell
                          th Added on
                          th Owner
                          th Details
                      tbody