// CoreUI and necessary plugins
script(src='vendors/@coreui/coreui/js/coreui.bundle.min.js')
//- script(src='/dist/bundle.js')
<!--[if IE]><!-->
script(src='vendors/@coreui/icons/js/svgxuse.min.js')
<!--<![endif]-->
// main js file
include ../../public/dist/contenthash.pug
 
block scripts

